<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body {
        background-image: url("https://i.pinimg.com/564x/da/09/ff/da09ff22609d268e93dd094918fb4f03.jpg");
        background-size: cover;
    }
</style>
<body>
<div style="text-align: center">
    <form th:action="@{/students/{id}(id=${updateStudent.id})}"
          th:method="patch"
          th:object="${updateStudent}">

        <input style="background-color: #2fffe0 ;  box-shadow: #ddabec 0 -10px 6px inset;" size="40px" th:type="text"
               th:field="*{firstName}" placeholder="first name">
        <br>
        <br>
        <input style="background-color: #2fffe0 ;  box-shadow: #ddabec 0 -10px 6px inset;" size="40px" th:type="text"
               th:field="*{email}" placeholder="email">
        <br>
        <br>
        <input style="background-color: #2fffe0 ;  box-shadow: #ddabec 0 -10px 6px inset;" size="40px" th:type="text"
               th:field="*{lastName}" placeholder="last name">
        <br>
        <div class="radio-button">
            <input type="radio" value="ONLINE" th:field="*{studyFormat}"
                   id="onlineFormat">
            <label for="onlineFormat">ONLINE</label>
            <input type="radio" value="OFFLINE" th:field="*{studyFormat}"
                   id="offlineFormat">
            <label for="offlineFormat">OFFLINE</label>
        </div>
        <br>
        <select th:field="*{groupId}">
            <option th:each="group:${groupList}"
                    th:value="${group.id}"
                    th:text="${group.groupName}">
            </option>
        </select>
        <br>
        <input style="background-color: #2fffe0 ;  box-shadow: #ddabec 0 -10px 6px inset;" size="40px" type="submit"
               value="update">
        <br>
        <br>
        <input style="background-color: #2fffe0 ;  box-shadow: #ddabec 0 -10px 6px inset;" size="40px" type="submit"
               value="go back">
    </form>
</div>


</body>
</html>