<!DOCTYPE html>
<html lang="en" xmlns:box-shadow="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
</head>

<style>

    table {
        margin: auto;
    }

    table, input {
        text-align: center;
    }

    body {
        background-image: url("https://i.pinimg.com/564x/da/09/ff/da09ff22609d268e93dd094918fb4f03.jpg");
        background-size: cover;
    }

    form {
        margin-top: 250px;
    }
</style>
<body>

<div style="text-align: center">
    <form th:action="@{saveCompany}"
          th:method="post"
          th:object="${company}">

        <input style="background-color: #5ce8cf ;height: 30px;  box-shadow: #224aad 0 -9px 6px inset;" size="80px"
               th:type="text"
               th:field="*{companyName}" placeholder="company name">
        <br>
        <br>
        <input style="background-color: #2fffee ;height: 30px;  box-shadow: #1035c9 0 -10px 6px inset;" size="80px"
               th:type="text"
               th:field="*{locatedCountry}" placeholder="located country">
        <br>
        <br>
        <input style="background-color: #2fffee ;height: 30px;  box-shadow: #1143c0 0 -10px 6px inset;" type="submit"
               value="add company">
        <br>
        <br>
        <input style="background-color: #2fffee ;height: 30px;  box-shadow: #3d5edc 0 -10px 6px inset;" type="submit"
               value="go back">

    </form>
</div>


</body>
</html>