<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
</head>
<style>
    body {
        background-image: url("https://i.pinimg.com/564x/da/09/ff/da09ff22609d268e93dd094918fb4f03.jpg");
        background-size: cover;
    }

    table, input {
        text-align: center;
    }

    form {
        margin-top: 250px;
    }
</style>
<body>
<div style="text-align: center">
    <form th:action="@{saveCourse}"
          th:method="post"
          th:object="${course}">

        <input style="background-color: #2fffe0 ;  box-shadow: #2c54dc 0 -10px 6px inset;height: 30px" size="80px"
               th:type="text"
               th:field="*{courseName}" placeholder="course name">
        <br>
        <br>
        <input style="background-color: #2fffe0 ;  box-shadow: #0f27b9 0 -10px 6px inset;height: 30px;" size="80px"
               th:type="text"
               th:field="*{durationMonth}" placeholder="duration month">
        <br>
        <br>
        <select th:field="*{companyId}">
            <option th:each="company:${companyList}"
                    th:value="${company.id}"
                    th:text="${company.companyName}">
            </option>
        </select>

        <input style="background-color: #2fffe0 ;  box-shadow: #1e28e0 0 -10px 6px inset;height: 30px" size="40px"
               type="submit"
               value="add course">
        <br>
        <br>
        <input style="background-color: #2fffe0 ;  box-shadow: #1f39dc 0 -10px 6px inset;height: 30px" size="40px"
               type="submit"
               value="go back">
    </form>
</div>

</body>
</html>