<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
</head>
<style>
    body {
        background-image: url("https://i.pinimg.com/564x/da/09/ff/da09ff22609d268e93dd094918fb4f03.jpg");
        background-size: cover;
    }

    table, input {
        text-align: center;
    }

    form {
        margin-top: 250px;
    }
</style>
<body>
<div style="text-align: center">
    <form th:action="@{saveTeacher}"
          th:method="post"
          th:object="${teacher}">

        <input style="background-color: #2fffe0 ;  box-shadow: #ddabec 0 -10px 6px inset;height: 30px" size="80px"
               th:type="text" th:field="*{firstName}" placeholder="first name">
        <br>
        <br>
        <input style="background-color: #2fffe0 ;  box-shadow: #ddabec 0 -10px 6px inset;height: 30px" size="80px"
               th:type="text" th:field="*{email}" placeholder="email">
        <br>
        <br>
        <input style="background-color: #2fffe0 ;  box-shadow: #ddabec 0 -10px 6px inset;height: 30px" size="80px"
               th:type="text" th:field="*{lastName}" placeholder="last name">
        <br>
        <select th:field="*{courseId}">
            <option th:each="course:${courseList}"
                    th:value="${course.id}"
                    th:text="${course.courseName}">
            </option>
        </select>
        <br>
        <input style="background-color: #2fffe0 ;  box-shadow: #ddabec 0 -10px 6px inset;height: 30px" size="40px"
               type="submit" value="add teacher">
        <br>
        <br>
        <input style="background-color: #2fffe0 ;  box-shadow: #ddabec 0 -10px 6px inset;height: 30px" size="40px"
               type="submit" value="go back">
    </form>
</div>


</body>
</html>